*{
	list-style: none;
	text-decoration: none;
	padding: 0;
	margin: 0;
}
.top{
	width: 100%;
	padding: 24px 0 24px 80px;
	background: #262626;
	
	font-size: 11px;
	color: #8e8e8e;
}
.logo{
	width: 100%;
	height: 50px;
}